DATABASE_URL="postgresql://neondb_owner:npg_sBrGTJdSb40m@ep-curly-cherry-b4pni1j6-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET=your_jwt_secret_here
SESSION_SECRET=your_session_secret_here
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
BKASH_APP_KEY=your_bkash_app_key_here
BKASH_APP_SECRET=your_bkash_app_secret_here
BKASH_USERNAME=your_bkash_username_here
BKASH_PASSWORD=your_bkash_password_here
REDIS_USERNAME="default"
REDIS_PASSWORD="dJaI5dTjmt5eT8D1TzsjqFjK52qaeQP6"
REDIS_HOST="fang-control-adept-70946.db.redis.io"
REDIS_PORT=15930