DATABASE_URL="postgresql://assignment_6_user:RbMgvgAWBmI5jtqujhliTvHDUbUC2yhl@dpg-dapb5nrbc2fs73f3i1ng-a/assignment_6"
CLERK_PUBLISHABLE_KEY=pk_test_bWFqb3ItYmVkYnVnLTY5NjAuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_U3yf69WCRCcbEviLRVLZ9z2FEhG72uWjM2JWIex6FD
BKASH_APP_KEY=4f6o0cjiki2rfm34kfdadl1eqq
BKASH_APP_SECRET=2is7hdktrekvrbljjh44ll3d9l1dtjo4pasmjvs5vl5qr3fug4b
BKASH_USERNAME=sandboxTokenizedUser02x
BKASH_PASSWORD=sandboxTokenizedUser02@12345
REDIS_USERNAME="default"
REDIS_PASSWORD=
REDIS_HOST="red-dapb75o473hc738s0tn0:6379"
REDIS_PORT=6379
